<html>
    <head>
        <title>Ivn</title>
    </head>
    <body>
        <div>
            <h1><a href="/">https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D0%B1%D0%B0%D1%87%D0%BD%D1%8B%D0%B9_%D0%BA%D0%B0%D0%BF%D0%B8%D1%82%D0%B0%D0%BD</a></h1>
        </div>

        <div>
            <
            <p>«Табачный капитан» — советский художественный телевизионный цветной фильм, снятый режиссёром Игорем Усовым на киностудии «Ленфильм» в 1972 году по мотивам одноименной пьесы Н. А. Адуева.

Фильм создан по заказу Государственного Комитета Совета Министров СССР по телевидению и радиовещанию.

Телевизионная премьера фильма в СССР состоялась 31 декабря 1972 года.</p>
        </div>

        
    </body>
</html>